//топ баннер внутри контейнера
+top-banner()
//топ баннера на всю ширину
+top-banner-out()
//товары
section.section__example
	.container
		.row
			h1.title blabla
			.title__desc
				|description
			+grid-4()
				each item, number in data.slice(0,1)
					+goods(item)
			+grid-4()
				each item, number in data.slice(1,2)
					+goods(item)
			+grid-4()
				each item, number in data.slice(2,3)
					+goods(item)
					
//товары с промокодом и выгодой
section.section__example
	.container
		.row
			+grid-4()
				each item, number in data.slice(3,4)
					+goods-promocode(item)
			+grid-4()
				each item, number in data.slice(4,5)
					+goods-promocode(item)
			+grid-4()
				each item, number in data.slice(5,6)
					+goods-promocode(item)
					
//товары аукцион
section.section__example
	.container
		.row
			+grid-4()
				each item, number in data.slice(5,6)
					+goods-auction(item)
			+grid-4()
				each item, number in data.slice(3,4)
					+goods-auction(item)
			+grid-4()
				each item, number in data.slice(3,4)
					+goods-auction(item)
